
name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: ilammy/setup-nasm@v1.2.0
    - uses: actions/checkout@v2
    - name: make
      run: make
      
     
